### Importing Libraries

In [22]:
import pandas as np
from PIL import Image
import os
from sklearn.model_selection import train_test_split

### Dataset

In [6]:
os.listdir("Data/FruitBox")[:5]

['Image_1.jpg',
 'Image_10.jpg',
 'Image_100.jpg',
 'Image_1000.jpg',
 'Image_1001.jpg']

### CSV File

In [15]:
df=np.read_csv("Data/Weights.csv")[["filepath","weight"]]
df.head()

                                       filepath  weight
0  /content/drive/MyDrive/fruitbox1/Image_1.jpg    0.09
1  /content/drive/MyDrive/fruitbox1/Image_2.jpg    0.09
2  /content/drive/MyDrive/fruitbox1/Image_3.jpg    0.09
3  /content/drive/MyDrive/fruitbox1/Image_4.jpg    0.09
4  /content/drive/MyDrive/fruitbox1/Image_5.jpg    0.09

# Changing Filepath

In [16]:
df['filepath'] = df['filepath'].str.replace('/content/drive/MyDrive/fruitbox1/', 'FruitBox/')
df.head()

               filepath  weight
0  FruitBox/Image_1.jpg    0.09
1  FruitBox/Image_2.jpg    0.09
2  FruitBox/Image_3.jpg    0.09
3  FruitBox/Image_4.jpg    0.09
4  FruitBox/Image_5.jpg    0.09

In [21]:
df

                     filepath  weight
0        FruitBox/Image_1.jpg    0.09
1        FruitBox/Image_2.jpg    0.09
2        FruitBox/Image_3.jpg    0.09
3        FruitBox/Image_4.jpg    0.09
4        FruitBox/Image_5.jpg    0.09
...                       ...     ...
1071  FruitBox/Image_1071.jpg    4.05
1072  FruitBox/Image_1072.jpg    4.05
1073  FruitBox/Image_1073.jpg    4.05
1074  FruitBox/Image_1074.jpg    4.05
1075  FruitBox/Image_1075.jpg    4.05

[1076 rows x 2 columns]

# Performing Train-Validation-Test Split

In [23]:
train_ratio = 0.7
validation_ratio = 0.2
test_ratio = 0.1

temp_data, test_data = train_test_split(df,test_size=test_ratio,random_state=42)
train_data, validation_data = train_test_split(temp_data, test_size=validation_ratio/(1-test_ratio), random_state=42)

train_data.to_csv('Data/train_set.csv', index=False)
validation_data.to_csv('Data/validation_set.csv', index=False)
test_data.to_csv('Data/test_set.csv', index=False)